@import "../../../src/assets/scss/colors/colors";
@import "../../../src/assets/scss/variables/variables";

.input-component {
  border-bottom: 1px solid $white;
  padding: 5px 40px 5px 5px;
  caret-color: $white;
  height: 40px;
}
