@import "../../../src/assets/scss/variables/variables";

.input-component {
  input {
    border-bottom: 1px solid $white;
    padding: 5px 40px 5px 5px;
    caret-color: $white;
    height: 50px;
  }

  .text-error {
    color: $error;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -30px;
    font-size: 14px;
    animation: 0.2s error;

    & + input {
      border-bottom: 1px solid $error;
    }
  }
}

