@import "../../assets/scss/variables/variables";

.product-editing-page {
  h1 {
    text-align: center;
    margin: 24px;
  }

  [class$="__buttons"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
  }
}
