@import "../../../src/assets/scss/colors/colors";
@import "../../../src/assets/scss/variables/variables";

.login {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 500px;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 25px $black_alfa_25;

  .login__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $gap_default;
    padding: $padding_default;
    height: 100%;
  }

  .login__bg-image {
    border-radius: 50%;
    background: $white_alfa_40;
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
  }

  .login__image {
    width: 100%;
    height: 100%;
    color: $white;
  }

  .login__input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $white;
  }

  .login__btn {
    margin: auto;
    max-width: 100%;
    span {
      margin: 0 auto;
    }
  }
}
