$white_alfa_40: rgba(255, 255, 255, 0.4);
$white_alfa_10: rgba(255, 255, 255, 0.1);
$white: #ffffff;

$primary_gradient: linear-gradient(
  to right,
  #480731,
  #511043,
  #581a58,
  #5a276e,
  #573486,
  #563e95,
  #5249a4,
  #4c53b3,
  #525cbc,
  #5966c6,
  #5f6fcf,
  #6679d8
);
