$white_alfa_40: rgba(255, 255, 255, 0.4);
$white_alfa_10: rgba(255, 255, 255, 0.1);
$black_alfa_25: rgba(0, 0, 0, 0.25);
$white: #ffffff;
$error: #b92c2c;
$green: #309975;
$primary_gradient: linear-gradient(
  to right,
  #480731,
  #511043,
  #581a58,
  #5a276e,
  #573486,
  #563e95,
  #5249a4,
  #4c53b3,
  #525cbc,
  #5966c6
);

$bg-linear-primary: linear-gradient(to right top, #301534, #3e1b3b, #6b2d4c, #76385a);
$bg-light: #fafbff;
