.login-page {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #301534,
    #3e1b3b,
    #4d2041,
    #5c2747,
    #6b2d4c,
    #76385a,
    #804368,
    #8a4e76,
    #8e6290,
    #8f76a9,
    #8e8bbe,
    #8d9fd1
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
