@import "../../../src/assets/scss/colors/colors";
@import "../../../src/assets/scss/variables/variables";

.login-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
