@import "src/assets/scss/variables/variables";

.products-preview {
  h1 {
    text-align: center;
    margin: 24px;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap_default;
    padding: 0 15px;
  }

  [class$="__buttons"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
  }
}
